{% extends "layouts/base.html" %}
{% block scripts %}<script type="module" src="{{ vite_asset('assets/municipalities.ts') }}"></script>{% endblock %}
{% block styles %}{% for href in vite_css('assets/municipalities.ts') %}<link rel="stylesheet" href="{{ href }}">{% endfor %}{% endblock %}
{% block title %}{{ state.upper() }} municipalities{% endblock %}
{% block content %}
<civ-navbar user='{{ user | tojson }}'></civ-navbar>

<municipalities-page state="{{ state }}"></municipalities-page>
{% endblock %}
