{% extends "layouts/base.html" %}
{% block scripts %}<script type="module" src="{{ vite_asset('assets/user-activity.ts') }}"></script>{% endblock %}
{% block styles %}{% for href in vite_css('assets/user-activity.ts') %}<link rel="stylesheet" href="{{ href }}">{% endfor %}{% endblock %} {% block title %}User activity{% endblock %}
{% block content %}
<civ-navbar user='{{ user | tojson }}'></civ-navbar>

<user-activity-page target_user_id="{{ target_user_id }}" username="{{ username }}"></user-activity-page>
{% endblock %}
