{% extends "layouts/base.html" %}
{% block scripts %}<script type="module" src="{{ vite_asset('assets/user-history.ts') }}"></script>{% endblock %}
{% block styles %}{% for href in vite_css('assets/user-history.ts') %}<link rel="stylesheet" href="{{ href }}">{% endfor %}{% endblock %} {% block title %}User history{% endblock %}
{% block content %}
<civ-navbar user='{{ user | tojson }}'></civ-navbar>

<user-history-page target_user_id="{{ target_user_id }}" username="{{ username }}"></user-history-page>
{% endblock %}
