/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
**/tmp/**

/node_modules/
/vendor/

chat.txt
costs.csv
testing/
people.csv
scratch.json
scratch.html
cost_images.csv
cost_llms.csv
cost_search_engine.csv
