__pycache__/
.env
*.env
civicpatch/data/
civicpatch/data_source/
!civicpatch/data/.gitkeep
!civicpatch/data_source/.gitkeep
data/
!data/.gitkeep
data_source/
!data_source/.gitkeep

database.db
*.db

.envrc
.bundle/
.yardoc
_yardoc/
.ruby-lsp/
coverage/
doc/
pkg/
dist/
node_modules/
vendor/
output/
tmp/
.venv
