github_actions_data/*
!github_actions_data/.gitkeep
!github_actions_data/README.md

__pycache__/

.envrc
.env
todo.md
.bundle/
.yardoc
_yardoc/
.ruby-lsp/
coverage/
doc/
pkg/
dist/
node_modules/
vendor/
output/
tmp/
.venv

todo.md
chat.txt
costs.csv
people.csv
scratch.json
scratch.html
cost_images.csv
cost_llms.csv
cost_search_engine.csv