<h2>Your Teams</h2>
<hr />
{% if user.teams is defined and user.teams and user.teams|length > 0 %}
<p>Different endpoints require different roles. Refer to the
    <a href="/docs">API documentation</a> for details.
</p>
<p>Contact support if you need additional roles.</p>
<p>Any API keys you create here will inherit the permissions of your teams.</p>
<table>
    <thead>
        <tr>
            <th>Team</th>
        </tr>
    </thead>
    <tbody>
        {% for team in user.teams %}
        <tr>
            <td>{{ team }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>You have no teams assigned.</p>
{% endif %}