<!doctype html>

<html>
    <head>
        <title>{% block title %}civicpatch tool{% endblock %}</title>

        <link
            href="{{ url_for('frontend', path='/css/pico.min.css') }}"
            rel="stylesheet"
        />
        <link
            href="{{ url_for('frontend', path='/css/styles.css') }}"
            rel="stylesheet"
        />

        {% block head %}{% endblock %}
    </head>
    <body>
        <main class="container" style="max-width: 1200px; margin-top: 2rem">
            <civ-map></civ-map>
            {% block content %}{% endblock %}
        </main>

        {% if is_production %}
        <!-- Production: bundled files (Rollup) -->
        <script
            type="module"
            src="{{ url_for('frontend', path='/dist/bundle.js') }}"
        ></script>
        {% else %}
        <!-- Hot reload script -->
        {{ hot_reload.script(url_for('hot-reload')) | safe }}
        <!-- Development: rollup handles module resolution -->
        <script
            type="module"
            src="{{ url_for('frontend', path='/build/bundle.js') }}"
        ></script>
        <!--<script type="module" src="/dev-modules/build/bundle.js"></script>-->
        {% endif %}
    </body>
</html>
