<html>
  <head>
    <title>api.civicpatch.org</title>
    <link href="{{ url_for('static', path='/pico.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <!-- Signed CSRF token (server-rendered) -->
    <meta name="csrf-token" content="{{ request.cookies.get('csrf_token', '') }}">
  </head>
  <body>
    <main class="container">
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <h1>civicpatch - api key management</h1>
        {% if user %}
          <a href="/auth/logout" class="secondary" style="margin-left: auto; font-size: 1rem; padding: 0.4em 1.2em;">Logout</a>
        {% endif %}
      </div>
      <p>Manage your API keys for your civicpatch server here.</p>

      {% if user %}
        <p>Welcome, {{user.first_name or user.display_name or user.email}}</p> 

        {% include 'partials/api_keys.html' %}

        {% include 'partials/user_details.html' %}

        {% if not approved_user %}
          <p class="color: #AF291D;"><strong>Your account is not yet approved by the maintainer. Please contact the <a href="mailto:{{ maintainer_email }}">{{ maintainer_email }}</a> to get approved.
        {% endif %}
 
      {% else %} 
        <p>To start, sign up or login via GitHub SSO.</p>

        <p>If you are setting this up for the first time, contact the <a href="mailto:{{ maintainer_email }}">maintainer</a>
        to approve your account. You will want to provide your <strong>provider_user_id</strong> after logging in.</p>
        <a href="/auth/github/login" class="contrast" role="button">Login with GitHub</a>
      {% endif %}
    </main>
  </body>

</html>