REDIS_HOST=api_civicpatch_org_redis

# GITHUB APP KEYS: https://github.com/organizations/CivicPatch/settings/apps/local-test-api-civicpatch-org
GITHUB_APP_ID=""
GITHUB_APP_CLIENT_ID=""
GITHUB_APP_CLIENT_SECRET=""
GITHUB_APP_PRIVATE_KEY_BASE64=""
GITHUB_APP_INSTALLATION_ID=""

JWT_SECRET_KEY=gamalion_loves_mighty_elephants_in_spain
INSTANCE_URL="http://localhost:8001"
MAINTAINER_EMAIL=michelle@civicpatch.org
OPEN_DATA_REPO="https://api.github.com/repos/CivicPatch/open-data"

# Development DB
DATABASE_HASH_KEY="token-here"
CIVICPATCH_API_DB_PASSWORD="development_password"
CIVICPATCH_API_DB_URL="postgres://civicpatch:development_password@api_civicpatch_org_db:5432/development_db"

# OPEN_DATA_REPO_URL="https://api.github.com/repos/CivicPatch/open-data"
#INSTANCE_URL="https://api.civicpatch.local"
#COOKIE_INSTANCE_URL=".civicpatch.local"

STORAGE_ENDPOINT=https://<instance_id>.r2.cloudflarestorage.com
STORAGE_ACCESS_KEY_ID=
STORAGE_SECRET_ACCESS_KEY=

# Optional
SERVICE_API_KEY="example-service-key"

# https://github.com/juampynr/google-spreadsheet-reader
# Link: https://console.cloud.google.com/iam-admin/serviceaccounts/details/101500303147764770115/permissions?project=gen-lang-client-0059950824
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_PRIVATE_KEY=""
GOOGLE_SHEETS_CLIENT_EMAIL="<aaa>@<xxx>.iam.gserviceaccount.com"
GOOGLE_SHEETS_TOKEN_URI="https://oauth2.googleapis.com/token"
