API_URL="http://localhost:8001"
API_CIVICPATCH_ORG_URL="http://api_civicpatch_org:8001"

SERVICE_API_KEY="example-service-key"

# OPTIONAL, local scraping only --------------------
GOOGLE_SEARCH_TOKEN="token-here"
GOOGLE_SEARCH_ENGINE_ID="id-here"

GOOGLE_GEMINI_TOKEN="token-here"
TOGETHER_AI_TOKEN="token-here"
# /OPTIONAL, local scraping only --------------------

# OPTIONAL overrides --------------------------------
PIPELINE_RUN_COST_LIMIT="0.20" # USD
LOG_LEVEL=DEBUG
PYTHONASYNCIODEBUG=1
# /OPTIONAL overrides -------------------------------
