BRAVE_SEARCH_TOKEN=
GOOGLE_SEARCH_TOKEN=
GOOGLE_SEARCH_ENGINE_ID=
SERP_API_SEARCH_TOKEN=

GOOGLE_GEMINI_TOKEN=
OPENAI_TOKEN=
TOGETHER_AI_TOKEN=

CRUDDER_SHARED_TOKEN=
CRUDDER_URL="https://crudder.civicpatch.org"

# OPTIONAL; ONLY FOR DEVELOPMENT
UID=1000
GID=1000

# OPTIONAL: this is only run under the github actions pipeline
# Only needed for scripts/process_images.py
FRIENDLY_STORAGE_HOST=https://cdn.civicpatch.org
STORAGE_ENDPOINT=
STORAGE_ACCESS_KEY_ID=
STORAGE_SECRET_ACCESS_KEY=