GOOGLE_SEARCH_TOKEN=<https://developers.google.com/custom-search/v1/overview>
GOOGLE_SEARCH_ENGINE_ID=<https://developers.google.com/custom-search/v1/overview>
SERP_API_SEARCH_TOKEN=<https://serpapi.com/>
BRAVE_SEARCH_TOKEN=<https://brave.com/search/api/>

GOOGLE_GEMINI_TOKEN=<https://ai.google.dev/gemini-api/docs/api-key>
OPENAI_TOKEN=<https://openai.com/api/>
TOGETHER_AI_TOKEN=<https://www.together.ai/>

# The following needs coordination with michelle@civicpatch.org
CRUDDER_SHARED_TOKEN=
CRUDDER_URL="https://crudder.civicpatch.org"

# THIS WILL (MAY) BE DIFFERENT FOR EVERY ENVIRONMENT 
# double check with echo $UID and echo $GID on your host machine
UID=1000
GID=1000

LOG_LEVEL=INFO
# Log levels are as follows:
# DEBUG - includes all logs 
# INFO - includes INFO, WARNING, ERROR
# WARNING - you should not manually set this
# ERROR - you should not manually set this

#################################################
# OPTIONAL: this is only run under the github actions pipeline
#################################################

# Only needed for scripts/process_images.py
FRIENDLY_STORAGE_HOST=https://cdn.civicpatch.org
STORAGE_ENDPOINT=
STORAGE_ACCESS_KEY_ID=
STORAGE_SECRET_ACCESS_KEY=

# Only needed for scripts/send_costs_to_google_sheets.py
# https://github.com/juampynr/google-spreadsheet-reader
# https://console.cloud.google.com/iam-admin/serviceaccounts/
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_PRIVATE_KEY=
GOOGLE_SHEETS_CLIENT_EMAIL=
GOOGLE_SHEETS_TOKEN_URI=