__pycache__/
.env
tmp/

crudder_data/*
!crudder_data/README.md

*.zip

# Allow .png and .jpg files under tests/
!tests/**/*.png

# Explicitly ignore images under data/
data/**/*.png

node_modules
src/shared/**