GITHUB_CLIENT_ID=<civicpatch-tools credentials>
GITHUB_CLIENT_SECRET=<civicpatch-tools credentials>
JWT_SECRET_KEY=
DATABASE_HASH_KEY=
APPROVED_GITHUB_PROVIDER_USER_IDS=<separated by commas>
CRUDDER_DB_PASSWORD=<password>
CRUDDER_DB_URL="postgres://civicpatch:<password>@:6000/crudder_db?search_path=public&sslmode=disable"

INSTANCE_URL="http://localhost:8001"
MAINTAINER_EMAIL=maintainer@email.com
GITHUB_WORKFLOW_TOKEN=

# Optional for testing
TEST_API_KEY=
TEST_API_URL=
TEST_ZIP_URL=
TEST_REQUEST_ID=00808807-84e7-437e-a017-7ece3013da9a

STORAGE_ENDPOINT=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_ACCESS_KEY=
