:root,
:host {
    font-family: "Roboto Serif", serif; 

    --pico-form-element-spacing-vertical: 0.5rem; /* Smaller vertical padding */
    --pico-form-element-spacing-horizontal: 0.5rem; /* Smaller horizontal padding */
    font-size: 16px;
}

:host(:not([data-theme="dark"])), :root:not([data-theme="dark"]), [data-theme="light"] {
    --pico-background-color: #faf4ed;
    --pico-text-selection-color: #dfdad9;
    --pico-form-element-focus-color: #56949f;
    --pico-primary-focus: #56949f;
    --pico-primary: #575279;
    --pico-primary-background: #f2e9e1;
    --pico-secondary-background: #dfdad9;
    --pico-secondary-inverse: #575279;
    --pico-primary-inverse: #575279;
    --pico-form-element-background-color: #fffaf3;
    --pico-primary-hover-background: #fffaf3;
    --pico-secondary-hover-background: #f2e9e1;
    --pico-form-element-active-background-color: #f2e9e1;
    --pico-form-element-active-border-color: #907aa9;
    --pico-primary-border: #cecacd;
    --pico-muted-border-color: #cecacd;
    --pico-border-width: 0.15rem;
    --pico-contrast: #b4637a;

    --pico-outline-width: 0.2rem;
    --pico-card-sectioning-background-color: #f2e9e1;

    input:not([type=submit],
    [type=button],
    [type=reset],
    [type=checkbox],
    [type=radio],
    [type=file]),
    :where(select, textarea) {
      --pico-outline-width: 0.2rem;
    }
}

:host([data-theme="dark"]), :root[data-theme="dark"], [data-theme="dark"] {
    --pico-background-color: #232136;
}


main.container-fluid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 576px) {
  :root,
  :host {
    --pico-font-size: 106.25%;
  }
}
@media (min-width: 768px) {
  :root,
  :host {
    --pico-font-size: 112.5%;
    padding: 0.5rem 1rem;
  }
}
@media (min-width: 1024px) {
  :root,
  :host {
    --pico-font-size: 118.75%;
    padding: 1rem 2rem;
  }
}
@media (min-width: 1280px) {
  :root,
  :host {
    --pico-font-size: 125%;
    padding: 2rem 4rem;
  }
}
@media (min-width: 1536px) {
  :root,
  :host {
    padding: 5rem 15rem;
  }
}

.visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
