<!doctype html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}civicpatch tool{% endblock %}</title>

        <link
            href="{{ url_for('frontend', path='/css/pico.min.css') }}"
            rel="stylesheet"
        />
        <link
            href="{{ url_for('frontend', path='/css/styles.css') }}"
            rel="stylesheet"
        />

        {% block styles %}{% endblock %}
        {% block head %}{% endblock %}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/ac3d436b83.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <main class="container-fluid {% block main_class %}{% endblock %}">
            {% block content %}{% endblock %}
        </main>

        {% block footer %}{% endblock %}

        <script src="{{ url_for('frontend', path='/assets/env.js') }}"></script>

        {% if not is_production %}
        <script type="module" src="http://localhost:5173/@vite/client"></script>
        {% endif %}

        {% block scripts %}{% endblock %}
    </body>
</html>
